@import "vars";

header {
	background-color: $bgcolour;

	// background-position: center center;
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	// background-image: url("/public/images/bernard-hermant-hQ3WZnY3yZ0-unsplash.jpg");
	// background-size: cover;
}

.header-inner {
	margin: 1rem auto;
	max-width: 1040px;
	padding-left: 100px;
	padding-right: 130px;
	min-height: 200px;
	background: url("/public/images/dipper.png") left top no-repeat,
		url("/public/images/mabel.png") right top no-repeat;
}
