// GravityFalls
@font-face {
	font-family: GravityFalls;
	src: url("/public/fonts/gravitation_falls.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

// Joe As
@font-face {
	font-family: JoeAs;
	src: url("/public/fonts/Joe_As.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
